@font-face {
	font-family: "cooper";
	src: url("fonts/CooperHewitt-Heavy.woff2") format("woff2");
}

body {
	background-color: lightyellow;
	margin: 30;
}

h2 {
	font-family: "cooper";
	font-size: 16px;
	color: lightblue;
	margin: 10px;
	text-align: center;
	line-height: 30px;
}

a {
	font-family: "cooper";
	color: lightblue;
}

.green {
	font-family: "cooper";
	width: 300px;
	height: 600px;
	margin: 60px;
	align-content: center;
}

.green {
	background-color: black;
	margin: auto;
}

.flex {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.cube {
	margin: 20px auto;
	width: 50vw;
	height: 50vw;
	background-color: lightpink;
}

@media (min-width: 700px) and (max-width: 1024px) {
	p {
		font-size: 40px;
	}
	.flex {
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row;
	}

	.cube {
	width: 100px;
	height: 100px;
	}
}