@font-face {
	font-family: "cooper";
	src: url("fonts/CooperHewitt-Heavy.woff2") format("woff2");
}

body {
	background-color: lightyellow;
	margin: 30;
}

h1 {
	font-family: "cooper";
	font-size: 20px;
	color: navy;
	margin: 20px;
	text-align: center;
	line-height: 30px;
}

h2 {
	font-family: "cooper";
	font-size: 30px;
	color: navy;
	margin: 20px;
	text-align: center;
	line-height: 30px;
}

a {
	font-family: "cooper";
	color: navy;
}



.green {
	background-color: black;
	margin: auto;
}

.flex {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.green {
	font-family: "cooper"
	margin: 60px auto;
	width: 200px;
	height: 800px;
	background-color: pink;
	align-content: center;
}

@media (min-width: 700px) {
	h1 {
		font-size: 40px;
	}
	h2 {
		font-size: 16px;
	}
	.flex {
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row;
	}

	.green {
	width: 500px;
	height: 800px;
	}
}