@font-face {
	font-family: "cooper";
	src: url("fonts/CooperHewitt-Heavy.woff2") format("woff2");
}

body {
	background-color: lightyellow;
}

h2 {
	font-family: "cooper";
	font-size: 25px;
	color: lightblue;
	margin: auto;
	text-align: center;
	line-height: 30px;
}

a {
	font-family: "cooper";
	color: lightblue;
}

.green {
	font-family: "cooper";
	width: 500px;
	height: 600px;
	margin: auto;
	align-content: center;
}

.green {
	background-color: black;
	margin-left: 150px;
}

.space-around {
	justify-content: ;
	margin: auto;
}

.flex-vertical {
	display: flex;
	height: 600px;
	flex-wrap: wrap;
	flex-direction: row;
	margin: auto;
}

.flex {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.cube {
	margin: 20px auto;
	width: 50vw;
	height: 50vw;
	background-color: lightpink;
}

@media (min-width: 700px) and (max-width: 1024px) {
	p {
		font-size: 40px;
	}
	.flex {
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row;
	}

	.cube {
	width: 100px;
	height: 100px;
	}
}